//Estilos Tarjeta de Lista
#list-card{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
    padding: 0px;
    border-radius: 3%;
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
  }
  
  .card-top{
    display: flex;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-between;
   
  }
  
  #icon-background{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #trash-icon{
   color: rgb(255, 255, 255);
   font-size: 30px;
  }
  
  .card-mid{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  
  .card-end{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 55px;
   
  }