<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
    <ion-text class="hour" slot="end">{{horaActual|hora}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item class="list-option">
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Activar Modo Oscuro</ion-label>
        <ion-toggle slot="end" (ngModel)="darkMode" (ionChange)="cambio()"></ion-toggle>
    </ion-item>
    <ion-item class="list-option" expand="block" (click)="openLimitModal()">
      <ion-icon slot="start" ios="stopwatch-outline" md="stopwatch-sharp"></ion-icon>
      <ion-label>Limitados</ion-label>
    </ion-item>
    <ion-item class="list-option" expand="block" (click)="openPayModal()">
      <ion-icon slot="start" ios="cash-outline" md="cash-sharp"></ion-icon>
      <ion-label>Pagos</ion-label>
    </ion-item> 
  
</ion-list>


</ion-content>