
  
//Estilos del Contenido

ion-content {
  --background: var(--ion-color-light);

  ion-list {
    background: var(--ion-color-light);

    .list-option {
      --background: var(--ion-color-light);
      color: var(--ion-color-dark-tint);
      --border-color:var(--ion-color-medium);

      ion-icon {
        color: var(--ion-color-dark-tint);
      }
    }
  }
}