//Estilos toolbar
ion-menu-button {
  color: white;
}

ion-title {
  color: white;
  justify-content: center;
}

//Estilos del Contenido

ion-content {
  --background: var(--ion-color-light);
  ion-list {
    background: var(--ion-color-light);
  }
}

ion-segment {
  font-weight: bold;
}

#day-icon {
  color: #fbb853;
  font-size: 35px;
  margin-right: 7px;
}
.page-tab-header {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 19px;
  color: #5c5b5b;

  .page-tab-header-date {
    display: flex;
    align-items: center;
  }
  ion-label {
    text-align: right;
  }
}
ion-card-content {
  display: flex;
  font-size: 16px;
  justify-content: space-between;

  ion-text {
    display: inline-block;
  }
  .first {
    width: 25%;
  }
  .second {
    width: 60%;
    display: flex;
    flex-direction: row;
    color: #208302;

    ion-text{
      margin-right: 10%;
    }
  }
  .checkbox {
    width: 8%;
  }
}
.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}
.detalles-header{
  display: flex;
  justify-content: space-between;
  ion-text{
    margin-left: 10px;
  }
  .detalles-todos{
    display: flex;
    margin-right: 20px;
    .checkbox{
      margin-left: 10px;
    }
  }
  
}

ion-segment{
  --background:var(--ion-color-light);
  ion-segment-button{
    --color: var(--ion-color-dark);
  }
}

.divider {
  border-top: 1px solid var(--ion-color-dark);
    margin: 0px 20px 5px;
    padding: 5px;
    max-width: calc(100% - 10px);
    box-sizing: border-box;
}
.footer{
  height: 70px;
}