//Estilos toolbar
ion-menu-button {
  color: white;
}

ion-title {
  color: white;
  justify-content: center;
}

//Estilos del Contenido

ion-content {
  --background: var(--ion-color-light);
  ion-list {
    background: var(--ion-color-light);
  }
}

ion-segment {
  font-weight: bold;
}

#day-icon {
  color: #fbb853;
  font-size: 35px;
  margin-right: 7px;
}
.page-tab-header {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 19px;
  color: #5c5b5b;

  .page-tab-header-date {
    display: flex;
    align-items: center;
  }
  ion-label {
    text-align: right;
  }
}
ion-card-content {
  display: flex;
  font-size: 16px;
  justify-content: space-between;

  ion-text {
    display: inline-block;
  }
  .first {
    width: 25%;
  }
  .second {
    width: 60%;
    display: flex;
    flex-direction: row;
    color: #208302;

    ion-text{
      margin-right: 10%;
    }
  }
  .checkbox {
    width: 8%;
  }
}
.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}
