ion-content{
    --background: var(--ion-color-light);
}

ion-title{
    color:white; 
    margin-right: 25%;
}

ion-button{
    color:white;
}

ion-list {
    
    background: var(--ion-color-light);
  

    ion-item{
       color: var(--ion-color-dark);
       --background: var(--ion-color-light);
       --border-color: var(--ion-color-dark);

    ion-label{
        font-size: 20px;
      }
}
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}

.card-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-checkbox {
    margin-top: 15px;
    --size: 25px;
    --checkbox-background-checked: #3880ff;

    ion-checkbox::part(container) {
        border-radius: 6px;
        border: 2px solid #3880ff;
      }
}

  
  