ion-content{
    --background: var(--ion-color-light);
}

ion-title{
    color:white; 
}

ion-button{
    color:white;
}

ion-list {
    
    background: var(--ion-color-light);
  

    ion-item{
       color: var(--ion-color-dark);
       --background: var(--ion-color-light);
       --border-color: var(--ion-color-dark);

    ion-label{
        font-size: 20px;
      }
}
}

.add-button {
    width: 40px;
    height: 40px;
    --background: white;
    --border-radius: 50%;
    margin-right: 5px;
  
    ion-icon {
      color: var(--ion-color-appmenu);
      font-size: 13px;
      transform: scale(1.9)
      
    }
  }
 