 //Estilos popover de %

 .porcent-button{
    font-size: 25px;
    height: 20px;
    width: 10px;
    color: white;
    background: transparent;
  }

  .button-group{
    display: flex;
    flex-direction: row;
  }
