.importar-button {
  margin-right: 10px;
  margin-left: 10px;
}
.modal-button{
  --color: white;
  margin-top: 10px;
}
.modal-title{
  text-align: center;
}
.no-sms{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: larger;
  color: var(--ion-color-dark);
}

ion-segment{
  --background:var(--ion-color-light);
  ion-segment-button{
    --color: var(--ion-color-dark);
  }
}

ion-content{
  --background:var(--ion-color-light);
}

.modal-buttons{
display: flex;
justify-content: space-between;
margin-top: 20px;
}


ion-modal.auto-height {
  --height: auto;
  --max-height: 80vh;
  --width: 300px; 
  --border-radius: 10px; 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

ion-modal.auto-height .ion-content {
  max-height: 100%;
  overflow: auto;
  padding: 10px;
}