ion-content{
    --background:var(--ion-color-light);

}

ion-card {
    --background: #000;
    --color: #9efff0;
  }
  
  ion-card-title {
    --color: #52ffe4;
  }
  
  ion-card-subtitle {
    --color: #d1fff8;
  }

  .header-icon{
 font-size: 40px;
 margin-right: 5px;
 color: white;
  }