ion-menu ion-content {
  --background: var(--ion-color-light);
  ion-list {
    --background: var(--ion-color-light);
    ion-item {
      --background: var(--ion-color-light);
    }
  }
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

#inbox-list {
  background: black;
  padding: 10px 25px 50px 0px;
  margin: -50px -25px 0px -8px;
  height: 40%;

  #logo {
    transform: scale(0.8);
  }
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 2px solid #8e8e8e;

  ion-note {
    color: var(--ion-color-light);
  }
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list {
  background: var(--ion-color-light);
}

ion-menu.ios ion-list#labels-list {
  background: var(--ion-color-light);
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: var(--ion-color-dark-shade);

  min-height: 26px;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  color: var(--ion-color-dark-shade);
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: var(--ion-color-dark-tint);
}

ion-menu.ios ion-item ion-icon {
  color: var(--ion-color-dark-tint);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  color: var(--ion-color-dark-tint);
}

ion-menu.ios ion-item ion-label {
  font-weight: 500;
  color: var(--ion-color-dark-tint);
}

ion-menu.md ion-item.selected ion-label {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item.selected ion-label {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
  color: var(--ion-color-dark-shade);
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
  --background: var(--ion-color-light);
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
