//Estilos toolbar
ion-menu-button {
    color: white;
  }
  
  ion-title{
    color: white;
    justify-content: center;
  }

ion-grid ion-row ion-col ion-item ion-label{
    font-size: 20px;
    font-weight: bold;
  }


  //Estilo sección de premios
  .trophy-section{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    border: 1px solid;
  }