<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ganadores</ion-title>
    <ion-text class="hour" slot="end">{{horaActual|hora}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Tiro:</ion-label>
            <ion-select (ngModel)="tiro" interface="popover">
              <ion-select-option value="mediodia">Mediodía</ion-select-option>
              <ion-select-option value="noche">Noche</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Pick3:</ion-label>
            <ion-input (ngModel)="pick3"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Pick4:</ion-label>
            <ion-input (ngModel)="pick3"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="stacked">Pick4:</ion-label>
            <ion-input (ngModel)="pick3"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>



    <ion-grid>
      <ion-row>
        <ion-col>
         <div class="trophy-section">Premios</div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-list>


</ion-content>