//Estilos del Contenido

ion-content{
  --background:var(--ion-color-light);
  ion-list{
    background:var(--ion-color-light);
  }
}

#list-buttons{
  --background:var(--ion-color-light);
}

  //Estilos Botones Inflados
  .card-mid{
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
    
  }