<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item id="list-buttons" lines="none">
    <ion-label>
      <ion-grid>
                
        <div class="card-mid" routerLink="">
           <div class="buttons">
            <ion-button style="width: 99px;">Cuadres</ion-button>
            <ion-button>Patrones</ion-button>
           </div>

           <div class="buttons"> 
            <ion-button>Patrones</ion-button>
            <ion-button>Patrones</ion-button>
           </div>

           <div class="buttons">
            <ion-button>Patrones</ion-button>
            <ion-button>Patrones</ion-button>
          </div>
        </div>
  
        
                
      </ion-grid>
    </ion-label>
  </ion-item>
  
<app-day-card></app-day-card>
<app-night-card></app-night-card>
<ion-list>
  
</ion-list>



</ion-content>