//Estilos toolbar
ion-menu-button {
    color: var(--ion-color-light);
  }
  
  ion-title{
    color: var(--ion-color-light);
    justify-content: center;
  }
  
  .card-mid{
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
    
  }